<h1>Editing Bussines To Bussiness</h1>

<%= render 'form', bussines_to_bussiness: @bussines_to_bussiness %>

<%= link_to 'Show', @bussines_to_bussiness %> |
<%= link_to 'Back', bussines_to_bussinesses_path %>
